<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="emailUser" value="casdadm0@gmail.com" />
    <add key="emailServer" value="smtp.gmail.com" />
    <add key="emailPassword" value="" />
    <add key="emailName" value="CASD" />
    <add key="emailDomain" value="gmail.com" />
    <add key="emailServerPort" value="587" />
    <add key="emailInterval" value="5000" />
    <add key="initialRow" value="2"/>
    <add key="nameColumn" value="3"/>
    <add key="emailColumn" value="4"/>
    <add key="sheetName" value="2017"/>
  </appSettings>
</configuration>